/target
/classes
/checkouts
pom.xml
pom.xml.asc
/resources/public/js
/.idea
*.iml
*.log
*.jar
*.class
.idea
*.log
/.lein-*
/.nrepl-port
.hgignore
.figwheel_server.log
.hg/
/.cpcache
.DS_Store
.rebel_readline_history
